<%- include('components/header') %>
<!--<style>
#hidden
  {
   visibility: hidden;
  }
</style>-->
<div class="row clearfix">
  <div style="height: 100px">
    <div/>
  </div>
  <div class="col-md-4 column">
  </div>
  <div class="col-md-4 column">
  </div>
  <div class="col-md-4 column">
  </div>
</div>
<div class="row clearfix">
  <div class="col-md-4 column">
  </div>
  <div class="col-md-4 column">
    <form class="form-horizontal" role="form" action="/loginsub" method="post">
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label" >NAME</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputEmail3" name="email"/>
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">PWD</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword3" name="password"/>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label><input type="checkbox"/>Remember me</label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Sign in</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-4 column">
  </div>
</div>

<%- include('components/footer') %>
